:root { 
--gray_50_01:#f8f9fa; 
--gray_50_02:#fafcff; 
--gray_50_03:#f6f7fb; 
--gray_50_04:#fcfcfc; 
--gray_50_05:#f9f9f9; 
--red_600:#f22a2a; 
--blue_A200:#3b82f6; 
--gray_800_01:#3a3939; 
--black_900_3f:#0000003f; 
--pink_A100:#f06eaa; 
--black_900_01:#090b0d; 
--teal_500:#02957d; 
--teal_700:#027c68; 
--gray_900_4c:#0d16244c; 
--blue_gray_900_02:#2b2d2d; 
--blue_gray_700:#424c5d; 
--blue_gray_900_01:#333333; 
--blue_gray_900:#262b35; 
--black_900_03:#000c0a; 
--black_900_02:#000919; 
--black_900_04:#000a19; 
--gray_600:#6a7270; 
--black_900_4c:#0000004c; 
--gray_400:#c4c4c4; 
--blue_gray_100:#d6dae2; 
--blue_700:#1976d2; 
--gray_800_19:#46464619; 
--blue_gray_300:#9ea8ba; 
--amber_500:#feb909; 
--gray_800:#4d4d4d; 
--blue_gray_500:#747c89; 
--amber_300:#ffcc66; 
--blue_50:#e0ecff; 
--white_A700_66:#ffffff66; 
--gray_400_01:#acb2b0; 
--gray_100_01:#f6f6f6; 
--green_600_01:#349765; 
--black_900_19:#00000019; 
--blue_gray_400_01:#75839d; 
--black_900_14:#00000014; 
--white_A700:#ffffff; 
--red_700:#d03329; 
--blue_gray_50:#eaecf0; 
--blue_A700:#0061ff; 
--gray_900_cc:#0d1624cc; 
--amber_500_01:#feba09; 
--gray_600_19:#7e7e7e19; 
--blue_A700_01:#0a58ff; 
--green_600:#1ea84d; 
--gray_50:#f9fbff; 
--deep_purple_300:#9b7cab; 
--blue_A700_02:#0065ff; 
--black_900:#000000; 
--light_green_500:#88c057; 
--blue_A200_01:#4d90ff; 
--blue_gray_800:#37334d; 
--blue_50_01:#e0ebff; 
--gray_700_51:#67676751; 
--deep_orange_400:#ff8833; 
--gray_700_11:#55555511; 
--blue_gray_50_01:#eaf1f6; 
--gray_900_02:#1b222d; 
--gray_700:#666666; 
--blue_gray_200:#bac1ce; 
--gray_500:#979797; 
--blue_gray_400:#74839d; 
--orange_A700:#ff6700; 
--blue_gray_600:#5f6c86; 
--gray_900:#0d1624; 
--gray_900_01:#18181b; 
--teal_50:#dfecea; 
--gray_300:#e0e0e0; 
--blue_gray_800_01:#3d455b; 
--gray_100:#f4f5f7; 
--blue_400:#48a0dc; 
--indigo_900:#002055; 
--blue_200:#a6c8ff; 
--gray_800_2b:#4545452b; 
}